@import 'reset';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//Fonts
//--Open Sans
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=cyrillic,cyrillic-ext,latin-ext);

@mixin font-regular {
  font-family: 'Fira Mono', sans-serif;
  font-weight: 400;
}
@mixin font-bold {
  font-family: 'Fira Mono', sans-serif;
  font-weight:700;
}

* {
  box-sizing: border-box;
}

.row {
  margin-bottom: 20px;
}
